<div id="<%= dom_id quote %>">
  <p>
    <strong>Name:</strong>
    <%= quote.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= quote.email %>
  </p>

  <p>
    <strong>Cellphone:</strong>
    <%= quote.cellphone %>
  </p>

  <p>
    <strong>Company:</strong>
    <%= quote.company %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= quote.location %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= quote.address %>
  </p>

  <p>
    <strong>Construction:</strong>
    <%= quote.construction %>
  </p>

  <p>
    <strong>Roof:</strong>
    <%= quote.roof %>
  </p>

  <p>
    <strong>Billvalue:</strong>
    <%= quote.billvalue %>
  </p>

  <p>
    <strong>Equipment:</strong>
    <%= quote.equipment %>
  </p>

</div>
