<%= render 'hero' %>
<div class="container px-4 pt-5 pb-3" id="icon-grid">
  <h2 class="pb-2 fw-bold border-bottom">Facilitamos el acceso a un mundo más sostenible</h2>

  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-5">
    <div class="col d-flex align-items-start">
      <i class="fas fa-chalkboard-teacher fa-2x me-4"></i>
      <div>
        <h4 class="fw-bold mb-0">Asesoría</h4>
        <p>Paragraph of text beneath the heading to explain the heading.</p>
      </div>
    </div>
    <div class="col d-flex align-items-start">
      <i class="fas fa-newspaper fa-2x me-4"></i>
      <div>
        <h4 class="fw-bold mb-0">Cotización en línea</h4>
        <p>Paragraph of text beneath the heading to explain the heading.</p>
      </div>
    </div>
    <div class="col d-flex align-items-start">
      <i class="fas fa-hands-helping fa-2x me-4"></i>
      <div>
        <h4 class="fw-bold mb-0">Red de aliados</h4>
        <p>Paragraph of text beneath the heading to explain the heading.</p>
      </div>
    </div>
    <div class="col d-flex align-items-start">
      <i class="fas fa-funnel-dollar fa-2x me-4"></i>
      <div>
        <h4 class="fw-bold mb-0">Mejores precios</h4>
        <p>Paragraph of text beneath the heading to explain the heading.</p>
      </div>
    </div>
  </div>
</div>

<div class="container pb-5">
  <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
    <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
      <h1 class="display-5 fw-bold lh-1 mb-5">Descubre lo que <span class="text-primary">CENTAURI</span> tiene para ti</h1>
      <p class="lead mb-5">No solo brindamos información comparativa, sino también información clara y entendible para todo público. Los usuarios podrán ver <span class="text-primary font-weight-bold fw-bold">precio</span> de diferentes ofertantes, <span class="text-primary fw-bold">beneficios</span> entre una opción y otra, tiempo de retorno de <span class="text-primary fw-bold">inversión</span>, comparación entre consumo y usabilidad</p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
        <%= link_to new_user_registration_path, method: :get, class: 'btn btn-primary rounded-pill btn-lg px-4 ml-2' do %>
          <i class="fas fa-user-plus fa-sm mx-2"></i>Regístrate
        <% end %>
      </div>
    </div>
    <div class="col-lg-4">
      <%= image_tag "info2.svg", height: 500, width: 500 %>
    </div>
  </div>
</div>


<div class="bg-dark text-secondary mt-5 px-4 py-3 text-center">
  <div class="py-4">
    <%= image_tag "logo.png", height: 95, width: 100 %>
    <div class="col-lg-6 mx-auto mt-4">
      <p class="fs-5 mb-4 text-white"> <span class="text-primary font-italic">Centauri</span> brinda, no solo información comparativa, sino también información clara y entendible para todo público.  Los usuarios podrán ver precio de diferentes ofertantes, beneficios entre una opción y otra, tiempo de retorno de inversión, comparación entre consumo y usabilidad dentro de la vida diarias de los usuarios</p>

    </div>
  </div>
</div>

<%= render 'contact' %>

